# Django Settings
SECRET_KEY=tu-clave-secreta-super-segura-aqui-cambiar-en-produccion
DEBUG=True

# Database
DB_ENGINE=django.db.backends.mysql
DB_NAME=medicfamily
DB_USER=medicfamily_user
DB_PASSWORD=medicfamily_pass
DB_HOST=db
DB_PORT=3306

# MySQL Root
MYSQL_ROOT_PASSWORD=admin123

# React API
REACT_APP_API_URL=http://localhost:8000/api
